body {
    font-family: Arial, sans-serif;
    padding:  20px;
}

button {
    padding: 10px 15px; /*top and bottom*/
    cursor: pointer;
    border: 1px solid #ac9ef5;
    background-color: #ac9ef5;
    color: #ffffff;
    border-radius: 4px;
}

button:hover{
    background-color: #9283d0;
}

.post{
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 15px 0;
    padding:  15px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.1);
    background-color: #f9f9f9;
}

.post h2{
    color:#333;
    margin-top: 0;
    font-size: 1.3em;
}

.post p{
    color:#666;
    line-height: 1.6;
}